/* assets/css/header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
}

.logo__img {
  height: 50px;
  width: auto;
}

.menu__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.menu__item {
  margin-left: 30px;
  position: relative;
}

.menu__link {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu__link:hover {
  padding: auto;
  background-color: var(--secondary-color);
  color: white;
}

.menu__link--language {
  border: none;
  background: none;
  font-family: var(--font-main);
  color: var(--dark-color);
  font-weight: 600;
  cursor: pointer;
}

.menu__item--login {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px 40px;
  font-size: 1.1rem;
  border: #ddd solid 1px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}

.menu__item--login:hover {
  background-color: white;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* hamburguer */

.hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 9999;
  top: 35px;
  right: 70px;
  cursor: pointer;
  transform: scale(1.2);
  display: none;
}

.hamburger .line1,.hamburger .line3 {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.hamburger .line2 {
  display: block;
  width: 80%;
  height: 2px;
  transform: translateX(10%);
  background-color: var(--secondary-color);
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.line1--active {
  transform: rotate(45deg) translate(-2px, 1px);
}

.line2--active {
  opacity: 0;
  margin-left: -30px;
}

.line3--active {
  transform: rotate(-45deg) translate(-4px, 2px);
}



@media (max-width: 1200px) {
  .menu {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 80%;
    height: calc(100vh - 80px);
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    transition: all 0.5s ease;
  }
  
  .menu.active {
    right: 0;
  }
  
  .menu__list {
    flex-direction: column;
    width: 100%;
  }
  
  .menu__item {
    margin: 15px 0;
    text-align: center;
  }
  
  .hamburger {
    display: block;
  }
}